.header {
    background-color: white; /* Fond blanc */
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour plus de contraste */
    padding: 15px 0;
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0;
    width: 100%;
    z-index: 1000; /* Assure que la navbar est au-dessus des autres éléments */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Transition douce pour les changements */
  }
  
  .header.scrolled {
    background-color: #f8f9fa; /* Couleur de fond différente en scroll */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7); /* Ombre plus marquée pour l'effet 3D */
    transform: translateY(-5px) scale(1.02); /* Élévation et effet de zoom pour l'effet 3D */
  }
  
  .mobile-nav-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Cache par défaut sur les écrans de bureau */
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block; /* Affiche sur les petits écrans */
    }
    
    .navmenu {
      display: none;
      position: absolute;
      top: 60px; /* Ajuste en fonction de la hauteur de la navbar */
      right: 0;
      background-color: white;
      width: 100%;
      text-align: center;
    }
  
    .navmenu ul {
      flex-direction: column; /* Empile les éléments en colonne sur mobile */
    }
  
    .navmenu ul li a {
      display: block;
      padding: 10px 0;
    }
  }
  